MONGO_URL=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
DB_NAME=factor_dopamina
JWT_SECRET=change_me_secure_secret
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_me_secure_password
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://127.0.0.1:3000,http://127.0.0.1:3001
APP_NAME=factordopamina
EMERGENT_LLM_KEY=